﻿@model Location

@using (Html.BeginForm("UpdateLocation", "Location", FormMethod.Post,
                    new { enctype = "multipart/form-data" }))
{
    @Html.HiddenFor(x => x.name)
    @Html.HiddenFor(x => x.locationName)
    @Html.HiddenFor(x => x.languageCode)
    <fieldset>
        <legend>@Model.locationName</legend>

        @Html.TextBoxFor(x => x.primaryPhone)

        @Html.TextBoxFor(x => x.websiteUrl)
        <fieldset>
            <legend>Category</legend>
            @Html.TextBoxFor(x => x.primaryCategory.displayName)
            @Html.TextBoxFor(x => x.primaryCategory.categoryId)
        </fieldset>

        <fieldset>
            <legend>ServiceArea</legend>
            @Html.TextBoxFor(x => x.serviceArea.businessType)

            @*@Html.EditorFor(x => x.serviceArea.places.placeInfos)*@

            @for (int i = 0; i < Model.serviceArea.places.placeInfos.Count; i++)
            {
                @Html.HiddenFor(x => x.serviceArea.places.placeInfos[i].name)
                @Html.HiddenFor(x => x.serviceArea.places.placeInfos[i].placeId)
            }
        </fieldset>

        <fieldset>
            <legend>LocationKey</legend>
            @Html.TextBoxFor(x => x.locationKey.placeId)
            @Html.TextBoxFor(x => x.locationKey.requestId)
        </fieldset>

        <fieldset>
            <legend>Open Info</legend>
            @Html.TextBoxFor(x => x.openInfo.canReopen)
            @Html.TextBoxFor(x => x.openInfo.status)
        </fieldset>

        <fieldset>
            <legend>Address</legend>
            @Html.EditorFor(x => x.address.addressLines)
            @Html.TextBoxFor(x => x.address.locality)
            @Html.TextBoxFor(x => x.address.postalCode)
            @Html.TextBoxFor(x => x.address.regionCode)
        </fieldset>
    </fieldset>

    <button class="location-submit" type="submit">Submit location</button>
}