﻿@model AccountsModel
@{
    ViewData["Title"] = "Home Page";
}

    <div class="accounts-wrapper">
        @foreach (var account in Model.accounts)
        {
        <div class="account">
            <p>@account.name</p>
            <p>@account.accountName</p>
            <p>@account.type</p>
            <p>@account.permissionLevel</p>

            <input type="button" value="Location List" class="btn btn-primary" onclick="location.href=' @Url.Action("List", "Location", new { accountName = account.name })'" />

        </div>
        }
    </div>