﻿@{
    ViewData["Title"] = "Home Page";
}


<div>
    <a href="@Url.Action("RequestMyBusinessAccess")">Request GMB access</a>
</div>

@*@using (Html.BeginForm("RequestGoogleTokens", "Home", FormMethod.Post,
                          new { enctype = "multipart/form-data" }))
    {
        @Html.HiddenFor(x => x.AuthorizationRedirectionResponse.Code)
        @Html.HiddenFor(x => x.ClientId)
        @Html.HiddenFor(x => x.ClientSecret)

        <div class="text-center">
            <h1 class="display-4">Welcome to GMB</h1>

            <div>
                <span>Client Id</span>
                <span><b>@Model.ClientId</b></span>
            </div>
            <div>
                <span>Client Secret</span>
                <span><b>@Model.ClientSecret</b></span>
            </div>
            <div>
                <span>Auth Url</span>
                <span><b>@Model.AuthUrl</b></span>
            </div>
            <div>
                <span>Request Token Url</span>
                <span><b>@Model.RequestTokenUrl</b></span>
            </div>




        </div>


        <div class="text-center">
            <h1 class="display-4">Authentication Response</h1>
            <div>
                <span>AuthorizationRedirectionResponse Code</span>
                <span><b>@Model.AuthorizationRedirectionResponse.Code</b></span>
            </div>
            <div>
                <span>AuthorizationRedirectionResponse Scope</span>
                <span><b>@Model.AuthorizationRedirectionResponse.Scope</b></span>
            </div>
        </div>


        <div class="text-center">
            <button type="submit">Request tokens</button>

        </div>

        <div class="text-center">
            <h1 class="display-4">Authentication Tokens Response</h1>
            <div>
                <span>Access Token</span>
                <span><b>@Model.AuthorizationTokensResponse.access_token</b></span>
            </div>
            <div>
                <span>Expires in</span>
                <span><b>@Model.AuthorizationTokensResponse.expires_in</b></span>
            </div>
            <div>
                <span>Token Type</span>
                <span><b>@Model.AuthorizationTokensResponse.token_type</b></span>
            </div>
            <div>
                <span>Response Type</span>
                <span><b>@Model.AuthorizationTokensResponse.scope</b></span>
            </div>
            <div>
                <span>Refresh Token</span>
                <span><b>@Model.AuthorizationTokensResponse.refresh_token</b></span>
            </div>
        </div>
    }
    @using (Html.BeginForm("RevokeToken", "Home", FormMethod.Post,
                        new { enctype = "multipart/form-data" }))
    {

        <div class="text-center">
            <button type="submit">Revoke token</button>

        </div>
    }


    @using (Html.BeginForm("RefreshToken", "Home", FormMethod.Post,
                        new { enctype = "multipart/form-data" }))
    {
        @Html.HiddenFor(x => x.AuthorizationRedirectionResponse.Code)
        @Html.HiddenFor(x => x.ClientId)
        @Html.HiddenFor(x => x.ClientSecret)
        @Html.HiddenFor(x => x.AuthorizationTokensResponse.refresh_token)
        <div class="text-center">
            <button type="submit">Refresh token</button>

        </div>
    }*@